unittest/__pycache__/mycode.cpython-36.pyc
unittest/__pycache__/prime.cpython-36.pyc
unittest/__pycache__/test_mycode.cpython-36.pyc
unittest/__pycache__/test_prime.cpython-36.pyc
unittest/.idea/unittest.iml
hackerrank/.idea/workspace.xml
unittest/.idea/misc.xml
unittest/.idea/modules.xml
unittest/.idea/vcs.xml
unittest/.idea/workspace.xml
